* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.cart-btn-div {
  margin: 30px auto;
}

.product-cart {
  display: none;
  margin: 30px auto;
}

.cart-amount{
  display: inline-block;
  width: 81%;
  text-align: right;
  font-weight: bolder;
}

.cart-total-amount{
  display: inline-block;
  width: 10%;
  font-weight: bolder;
}

.cart-item-name {
  display: inline-block;
  width: 60%;
}

.cart-item-qty {
  display: inline-block;
  width: 13%;
}

.cart-item-price {
  display: inline-block;
  width: 13%;
}

.cart-item-amount {
  display: inline-block;
  width: 13%;
}

.cart-total-amount {
  text-align: right;
}
