/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

/* grid system -- mobile first! */

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

[class*="col-"] {
	margin: 1% 0% 1% 2%;
}

.col-1 {
	background-color: #e1bee7;
}

.col-1 > img {
	width: 100%;
	margin: 0px;
}

.col-2 {
	background-color: #b39ddb;
	padding: 1% 0%;
}

.col-2 > img {
	width: 100%;
	margin: 0px;
}

.col-3-bg {
	background-color: #c5e1a5;
	padding: 1% 0%;
}

.col-3 > img {
	width: 100%;
	margin: 0px;
}

.col-4 {
	background-color: #9fa8da;
	padding: 1% 0%;
}

.col-4 > img {
	width: 100%;
	margin: 0px;
}

.col-5-bg {
	background-color: #80cbc4;
	padding: 1% 0%;
}

.col-5 > img {
	width: 100%;
	margin: 0px;
}

.article-title, .article-text, .article-more {
	padding: 0% 2%;
}

.article-more {
	white-space: nowrap;
	font-size: 0.9rem;
}


/* Small Tablet Screen Sizes - size md*/
@media only screen and (min-width: 540px) and (max-width: 719px) {
	
	.col-1 {
		flex: 0 0 47%;
	}
	
	.col-2 {
		flex: 0 0 47%;
	}

	.col-3 {
		flex: 0 0 47%;
	}

	.col-4 {
		flex: 0 0 96%;
	}

	.col-5 {
		flex: 0 0 96%;
		order: -2
	}

	.col-6 {
		flex: 0 0 47%;
	}

}


/* Tablet Landscape Screen Sizes - size md*/
@media only screen and (min-width: 720px) and (max-width: 959px) {

	.col-1 {
		flex: 0 0 22.5%;
	}
	
	.col-2 {
		flex: 0 0 47%;
	}

	.col-3 {
		flex: 0 0 71.5%;
	}

	.col-4 {
		flex: 0 0 96%;
	}

	.col-5 {
		flex: 0 0 96%;
		order: -2
	}

	.col-6 {
		flex: 0 0 47%;
	}
}
/* Desktop screen Sizes - size lg and beyond*/
@media only screen and (min-width: 960px) {

	.col-1 {
		flex: 0 0 22.5%;
	}
	
	.col-2 {
		flex: 0 0 47%;
	}

	.col-3 {
		flex: 0 0 71.5%;
	}

	.col-4 {
		flex: 0 0 96%;
	}

	.col-5 {
		flex: 0 0 47%;
	}

	.row-reverse {
		flex-direction: row-reverse;
	}

	.row-reverse [class*="col-1"] {
		margin: 1% 2% 1% 0%;
	}
	
}